<?xml version="1.0"?>
<model>
  <name>3DR Iris with ToF Sensor, Stereo Camera, Hi-res Camera and fish-eye Camera</name>
  <version>1.0</version>
  <sdf version='1.4'>iris_add.sdf</sdf>

  <author>
   <name>Sihyun Noh</name>
   <email>awake_noh@thepeach.kr</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with ToF Sensor, Stereo Camera, Hi-res Camera and fish-eye Camera. 
    The original model has been created by Thomas Gubler and is maintained by Lorenz Meier. The sensors have been created by Sihyun Noh
  </description>
</model>
